@page "/Portfolio"

@using SydnetBlazor.Data

<AuthorizeView>
<body>
<h3>Mit Portefølje</h3>
<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <Card Background="Background.Light">
            <CardHeader TextWeight="TextWeight.Bold">Rådighedsbeløb</CardHeader>
            <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"><Badge Color="Color.Success">0 DKK</Badge></CardTitle>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
        <Card Background="Background.Light">
            <CardHeader TextWeight="TextWeight.Bold">Portefølje Værdi</CardHeader>
            <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"><Badge Color="Color.Success">0 DKK</Badge></CardTitle>
            </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
            <Card Background="Background.Light">
                <CardHeader TextWeight="TextWeight.Bold">P/L</CardHeader>
                <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"><Badge Color="Color.Success">0 DKK</Badge></CardTitle>
                </Card>
        </Column>
</Row>
<Row Padding="Padding.Is4.OnY">
    <Column ColumnSize="ColumnSize.Is8">
        <DataGrid TItem="TempAktie" Data="@aktieList" @bind-SelectedRow="@selectedAktie" Filterable Responsive>
            <DataGridColumn Field="@nameof(TempAktie.Firma)" Caption="Firma" Editable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof(TempAktie.Forkortelse)" Caption="Forkortelse" Editable="false" Filterable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof(TempAktie.Price)" Caption="Købspris" Editable="false" Filterable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof(TempAktie.PriceHigh)" Caption="Antal" Editable="false" Filterable="false"></DataGridColumn>
            <DataGridColumn Field="@nameof(TempAktie.PriceLow)" Caption="Nuværende Pris" Editable="false" Filterable="false"></DataGridColumn>
            <DataGridColumn Filterable="false" Caption="Profit / Loss"></DataGridColumn>
            <DataGridColumn Filterable="false">
                <DisplayTemplate Context="john">
                    <Button Color="Color.Success" Clicked="@(() => ShowModal())">
                        Sælg
                    </Button>
                </DisplayTemplate></DataGridColumn>
        </DataGrid>
    </Column>
     <Column ColumnSize="ColumnSize.Is4">
                <Card Background="Background.Light">
                    <CardHeader TextWeight="TextWeight.Bold">Graf</CardHeader>
                    <CardTitle Size="3" Padding="Padding.Is4.OnX.Is4.OnY"></CardTitle>
                    </Card>
            </Column>
</Row>

</body>
</AuthorizeView>

<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Køb aktier</ModalTitle>
          
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Firma</FieldLabel>
                <TextEdit Text="@selectedAktie.Firma" ReadOnly="true" />
            </Field>
            <Field>
                <FieldLabel>Pris</FieldLabel>
                <TextEdit Text="@selectedAktie.Price.ToString()" ReadOnly="true"/>
            </Field>
            
            <Field>
                <FieldLabel>Antal</FieldLabel>
                <NumericEdit @bind-Value="AktieAntal" @onchange="updatePrice" TValue="int"/>
            </Field>
            
            <Field>
                <FieldLabel>Ordre Pris</FieldLabel>
                <NumericEdit @bind-Value="AktieTotal" TValue="double" ReadOnly="true"/>
            </Field>
            
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Luk</Button>
            <Button Color="Color.Success" Clicked="@HideModal">Sælg</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code{

    private List<TempAktie> aktieList = new() { new() { Firma = "Tesla", Forkortelse = "TSLA", Price = 1000.5, PriceHigh = 1200, PriceLow = 800}, new() { Firma = "Microsoft", Forkortelse = "MCS", Price = 500, PriceHigh = 900, PriceLow = 200} };
    
    public TempAktie? selectedAktie = new TempAktie();

    public int AktieAntal = 0;
    public double AktieTotal = 0.00;

    private bool modalVisible;

    private Task ShowModal()
    {
        
        modalVisible = true;

        return Task.CompletedTask;
    }

    private Task HideModal()
    {
        modalVisible = false;

        return Task.CompletedTask;
    }
    
    private void updatePrice()
    {
        AktieTotal = AktieAntal * selectedAktie.Price;
    }
    
}